body {
  background-color: #9ce21a; }
   }
b
h1 {
  color: #09c3f1; }

h4 {
  color: #51fccf; }

.jumbotron {
  margin-top: 50px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px; }

footer {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px; }

.card-hotel {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px; }
